body {
  font-size: 16px; }

.article-lorem {
  grid-area: article-lorem; }

.article-ipsum {
  grid-area: article-ipsum; }

.article-dolor {
  grid-area: article-dolor; }

.article {
  border: medium solid black; }
  .article .article-title {
    display: flex;
    justify-content: flex-end; }
    .article .article-title .article-title-content {
      display: flex;
      justify-content: center;
      width: 150px;
      border-bottom: medium solid black;
      border-left: medium solid black; }
  .article .article-content {
    padding: 30px;
    display: flex;
    justify-content: center; }

@media (min-width: 1024px) {
  .grid {
    display: grid;
    grid-template-areas: 'article-lorem article-ipsum article-dolor'; } }

@media (max-width: 1024px) and (min-width: 600px) {
  .grid {
    display: grid;
    grid-template-areas: 'article-lorem article-lorem' 'article-ipsum article-dolor'; } }

@media (max-width: 600px) {
  .grid {
    display: grid;
    grid-template-areas: 'article-lorem' 'article-ipsum' 'article-dolor'; } }

.grid {
  grid-gap: 30px;
  padding-left: 30px;
  padding-right: 30px; }
