
.upbar-wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto ;
  margin: 0 auto;
  grid-gap: 30px;
}

a {
  color: #fff;
  display: block;
}
a:hover{/*po najechaniu tekst zmieni kolor na czerwony*/
  background-color: #666767;
  color: #ebebeb;
}

.activated {
  background-color: #00a8ff;
}
.activated:hover{
  background-color: #009aeb;
  color: #ebebeb;
}
