$base-font-size: 16px;
$base-gap: 30px;

body{
  font-size: $base-font-size;
}



.article-lorem {
  grid-area: article-lorem;
}

.article-ipsum {
  grid-area: article-ipsum;
}

.article-dolor {
  grid-area: article-dolor;
}



.article{
  border: medium solid black;
  .article-title{
    display: flex;
    justify-content: flex-end;

    .article-title-content{
      display: flex;
      justify-content: center;
      width: 5 * $base-gap;
      border-bottom: medium solid black;
      border-left: medium solid black;
    }
  }
  .article-content{
    padding: $base-gap;
    display: flex;
    justify-content: center;
  }
}


@media (min-width: 1024px) {
  .grid {
    display: grid;
    grid-template-areas:
            'article-lorem article-ipsum article-dolor';
  }
}

@media (max-width: 1024px) and (min-width:600px){
  .grid {
    display: grid;
    grid-template-areas:
            'article-lorem article-lorem'
            'article-ipsum article-dolor';
  }
}

@media (max-width: 600px){
  .grid {
    display: grid;
    grid-template-areas:
            'article-lorem'
            'article-ipsum'
            'article-dolor';
  }
}

.grid{
  grid-gap: $base-gap;
  padding-left: $base-gap;
  padding-right: $base-gap;
}


