/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  color: black;
}

.split:hover img{
  width: 500px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: white;
}
.left:hover{/*po najechaniu tekst zmieni kolor na czerwony*/
  background-color: #666767;
  color: #ebebeb;
}
/* Control the right side */
.right {
  right: 0;
  background-color: white;

}
.right:hover{/*po najechaniu tekst zmieni kolor na czerwony*/
  background-color: #666767;
  color: #ebebeb;
}


/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 300px;
}
